@using VacationExpert.Common
@using VacationExpert.Services.Models
@using VacationExpert.Web.ViewModels.PropertyViewModel
@model SearchInputModel
@{
    this.ViewData["Title"] = "Home Page";
    List<LastFiveProperties> props = (List<LastFiveProperties>)(this.ViewData["Properties"]);
}
<link rel="stylesheet" href="~/css/home/home.css" />

<section class="search-container">
    <article class="search-wrapper">
        <div class="search-box">
            <form method ='get' asp-controller="Search" asp-action ="Results">

                <div class="field-box">
                    <label>Where are you going</label>
                    <i class="fas fa-city"></i>
                    <input asp-for=City  asp-name="City" />
                    <article id='suggestionBox' >

                    </article>
              </div>
                <button>Find</button>
            </form>
        </div>
    </article>
</section>
<section class="random-places-container">

    @for (int i=0; i<props.Count(); i++)
    {
        <div>
            <h2>@props[i].CityName.</h2>
            <article>
                <image src="/Image/GetThumbnail/@props[i].Image">
                </image>
            </article>
        </div> 
    }

</section>

        <script type = "module" defer src=~/js/home/home.js></script>