bin/
obj
*bin
obj*
bin*
/src/Web/VacationExpert.Web/obj
/src/Web/VacationExpert.Web/bin
/src/Web/VacationExpert.Web.Infrastructure/obj
/src/Web/VacationExpert.Web.Infrastructure/bin
/src/Web/VacationExpert.Web.ViewModels/obj
/src/Web/VacationExpert.Web.ViewModels/bin
/src/VacationExpert.Common/bin
/src/VacationExpert.Common/obj
/src/Tests/VacationExpert.Web.Tests/bin
/src/Tests/VacationExpert.Web.Tests/obj
/src/Tests/VacationExpert.Services.Data.Tests/obj
/src/Tests/VacationExpert.Services.Data.Tests/bin
/src/Tests/Sandbox/bin
/src/Tests/Sandbox/obj
/src/Services/VacationExpert.Services/obj
/src/Services/VacationExpert.Services/bin
/src/Services/VacationExpert.Services.Data/obj
/src/Services/VacationExpert.Services.Data/bin
/src/Services/VacationExpert.Services.Mapping/obj
/src/Services/VacationExpert.Services.Mapping/bin
/src/Services/VacationExpert.Services.Messaging/obj
/src/Services/VacationExpert.Services.Messaging/bin
/src/Data/VacationExpert.Data/obj
/src/Data/VacationExpert.Data/bin
/src/Data/VacationExpert.Data.Common/obj
/src/Data/VacationExpert.Data.Common/bin
/src/Data/VacationExpert.Data.Models/obj
/src/Data/VacationExpert.Data.Models/bin
