.property-view-container {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.property-view-container > article {
  width: 1000px;
  padding: 10px;
}
.image-gallery {
  max-height: 250px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;
  margin-bottom: 20px;
}
.image-gallery img {
  width: 300px;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.image-gallery img:hover {
  box-shadow: 5px 5px 30px 13px rgba(135, 135, 135, 0.74);
}
.image-gallery::-webkit-scrollbar {
  display: none;
}

.property-view-facilties {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.property-view-facilties > p {
  width: 25%;
}

.property-view-reviews {
  display: flex;
  justify-content: space-evenly;
  max-height: 300px;
}
.single-review {
  overflow-y: scroll;
  margin: 10px;
  text-align: start;
  flex-basis: 30%;
  border: 1px ridge rgb(146, 146, 146);
  border-radius: 12px;
}
.single-review:hover {
  box-shadow: 5px 5px 30px 13px rgba(135, 135, 135, 0.74);
}
.single-review::-webkit-scrollbar {
  display: none;
}

.single-review-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  background-color: rgb(0, 61, 175);
  box-sizing: content-box;
}
.single-review-header p {
  padding-top: 5px;
}
.create-review-box {
  margin: 10px auto;
  width: 50%;
  flex-direction: column;
  border: 2px solid black;
  font-weight: bold;
  display: none;
}
.room-wrapper {
  border: 1px ridge black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.room-wrapper article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.room-wrapper article div {
  display: flex;
}
.room-wrapper article div p {
  margin-right: 5px;
  font-size: 16px;
}
.create-review-box p {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;

  margin-bottom: 0%;
}
.create-review-box textarea {
  margin: 0px auto;
  flex-basis: 150px;
  width: 400px;
  overflow: scroll;
  border-top: none;
  border-radius: 14px;
}
.create-review-box button {
  width: 30%;
  margin: 12px;
  align-self: center;
  border: none;
  font-size: 22px;
  color: white;
  border-radius: 14px;
  background-color: black;
}
.create-review-box textarea::-webkit-scrollbar {
  display: none;
}

.review-rating {
  background-color: black;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 30px;
}
.review-content {
  text-align: justify;
  padding: 10px;
}

.review-nav-btn {
  border-radius: 50%;
  padding: 6px;
  align-self: center;
  font-size: 22px;
  font-weight: bold;
  border: none;
}
.review-nav-btn:hover {
  background-color: black;
  color: white;
}

.login-to-review {
  font-size: 22px;
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-to-review a {
  background-color: rgb(77, 77, 77);
}
.login-to-review a:link {
  color: green;
}