

<link rel="stylesheet" href="~/css/create/index.css" />
<section class="Create">
    <nav class="create-nav">
        <ul>
            <li class="clicked-part">
                Basic info
            </li>

            <li>
                Layout & Pricing
            </li>
            <li>
                Facilities & Services
            </li>
            <li>
                Photos
            </li>
        </ul>
    </nav>
    <form>
        <section class="basic-info">
            <article class="main-property-details">
                <input placeholder='Enter the name of your property' />
                <p>The guest will be able to see the name when they look for a place to stay.</p>
                <div>
                    <label>Your star rating</label>
                    <select>
                        <option>N/A</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </article>

            <article class="contact-details">
                <h4>Contact detail for this property</h4>

                <div class="contact-name">
                    <label>Contract name</label>
                    <input type="text" />
                </div>

                <div class="phone-info">
                    <div>
                        <label>Phone Number</label>
                        <input type="tel" />
                    </div>
                    <div>
                        <label>Alternative phone number (otional)</label>
                        <input type="tel" />
                    </div>
                </div>
            </article>

            <article class="secondary-basic-details">
                <h4>Property Address</h4>
                <textarea placeholder="Street address"></textarea>
                <label>Country</label>
                <input type="text" />
                <label>City</label>
                <input type="text" />

                <label>Zip code</label>
                <input type="text" />
            </article>
        </section>

        <section class="photos-box">
            <div class=photo-wrapper>
                <label>
                    Import your photos
                </label>
                <input type="file" multiple />
            </div>
        </section>
    </form>
        <nav class="create-nav">
        <ul>
            <li class="clicked-part">
                Basic info
            </li>

            <li>
                Layout & Pricing
            </li>
            <li>
                Facilities & Services
            </li>
            <li>
                Photos
            </li>
        </ul>
    </nav>
</section>