    <nav class="create-nav">
        <ul>
            <li data-section="basic-info">
                Basic info
            </li>

            <li data-section="layout-pricing">
                Layout & Pricing
            </li>
            <li data-section="facilities-services">
                Facilities & Services
            </li>
            <li data-section="photos-box">
                Photos
            </li>
        </ul>
    </nav>